$red: #EC0B43;
$violet: #58355E;
$l-blue: #7AE7C7;
$l-green: #D6FFB7;
$yellow: #FFF689;

$rad: 10px;

* {
    box-sizing: border-box;
}

body {
    max-width: 1128px;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    background-color: $yellow;
    padding-bottom: 1.5rem;
}

.page-title {
    margin-top: 0;
    padding-top: 2rem;
    color: $violet;
    font-size: 3rem;
    text-align: center;
}

input[type=search] {
    width: 20rem;
    height: 1.75rem;
    margin-bottom: 1.25rem ;
    padding-left: .5rem;
}

.find-btn {
    margin: 0 .75rem
}

form {
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    // display: flex;
    // flex-flow: row wrap;
    // align-items: center;
    // justify-content: space-around;
}

.grid-item {
    display: flex;
    flex-flow: column;
    // justify-content: center;
    // align-items: center;
    border: 2px solid $violet;
    border-radius: $rad;
    margin-bottom: 2rem;
    background-color: $l-blue;
    text-align: center;
    img {
        max-width: 100%;
        flex: 0 0 250px;
    }
    p{
        margin-top: auto;
        margin-bottom: auto;
        padding: 0.75rem;
    }
}

img {
    border-radius: $rad $rad 0 0;
}

.category {
    padding: .75rem;
    margin-bottom: 3rem;
    margin-top: 0;
    background-color: $red;
    font-size: 2rem;
    text-align: center;
}

#root {
    background-color: $l-green;
    border-left: 1px solid $violet;
    border-right: 1px solid $violet;
}

hr {
    margin: 0;
    margin-top: auto;
}